{% extends 'blog/base.html' %}

{% block title %}CV{% endblock %}
{% block content %}
{% if cv %}
<!-- Display cv -->
<div class="cv">
    <h1>{{ cv.name }}</h1>
    <p>{{ cv.phone }}</p>
    <p>{{ cv.email }}</p>
    {% for section in CV.sections.all %}
    <hr>
        <h1>{{ section.title }}</h1>
        {% for institute in section.institutes.all %}
            <p>{{ institute.start }} - {{ institute.end }} | <b>{{ institute.location }}</b> | {{ institute.area }}</p>
            <ul>
            {% for element in institute.elements.all %}
                <li>{{ element.text }}</li>
            {% endfor %}
            </ul>
            <a class="btn btn-default" href="{% url 'cv_new' %}">Add element</a>
        {% endfor %}
        <a class="btn btn-default" href="{% url 'cv_new' %}">Add institute</a>
        <ul>
        {% for element in section.elements.all %}
            <li>{{ element.text }}</li>
        {% endfor %}
        </ul>
    {% endfor %}
    {% if form and form.getType == "sectionform" %}
        <form method="POST">{% csrf_token %}
            {{ form.as_p }}
            <a class="btn btn-default" href="{% url 'cv' %}">close</a>
            <button type="submit" class="save btn btn-default">add section</button>
        </form>
    {% else %}
        <a class="btn btn-default" href="{% url 'section_new' %}">Add section</a>
    {% endif %}
</div>
{% else %}
    {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'cv_new' %}">Add CV</a>
    {% endif%}
{% endif%}
{% endblock %}